.sign-up-inputs input {
  width: 100%;
  padding: 0.5em 0.1em 0em 1em;
  margin: 0.5em 0em 0em 0em;
  box-sizing: border-box;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: 0em; //this is causing page overflow
  top: -1.5em;
  // display: flex;
  // max-width: 100%;
  // outline: 1px solid red;
  border-radius: 1em;
  border: none;
}
.sign-up-inputs input::placeholder {
  color: #6B4615;
}
.sign-up-button button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  color:#420B3B;
  // position:relative;
  // left: 1em; //this is causing page overflow
  // top: -1.5em;
  // display: flex;
  // max-width: 50%;
  // outline: 1px solid red;
  padding: 0.75em 1.25em 0.25em 1.25em;
  line-height: 1em;
  position: relative;
  top: -0.75em;
  left: 0em;
  border-radius: 2em;
}
.sign-up-button button:hover {
  background-color: #D5CB35;
  color: #6B4615;
}