// html { //added from tutorial on how to make footer fixed
//   height: 100%;
// }

body {
  background-color: #FF8B2C;
  block-size:1920px 1080px;

  // position: relative; //2nd footer tutorial
  // margin: 0; //2nd footer tutorial
  // min-height: 100%; //2nd footer tutorial
  // padding-bottom: 6.74rem; //2nd footer tutorial
  // box-sizing: inherit; //2nd footer tutorial

  // min-height: 100%; //added from tutorial on how to make footer fixed

  // display: flex; //added from tutorial on how to make footer fixed
  // flex-direction: column; //added from tutorial on how to make footer fixed
}

// footer { //added from tutorial on how to make footer fixed
  // margin-top: auto;
// }



.home-main-title-area {
  float: left;
}
.main-title {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  text-align: center;
  left: .6em;
  top: 8.1em;
  line-height: 1.5;
  // outline: 1px solid red;
}

.home-custom-made-btn1 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#FFFCF5;
  background-color: #420B3B;
  padding: 1em 1em 0.5em 1em;
  // padding-bottom: -1em;
  // margin: -1em;
  line-height: 0.5em;
  position: relative;
  top: 12em;
  left: 1.4em;
  border-radius: 2em;
  // max-width: 90%;
  // outline: 1px solid red;
}
.home-custom-made-btn1 button:hover {
  background-color: #FFFCF5;
  color: #420B3B;
  cursor: pointer;
  // border: 0.001em;
  // border-style: solid;
  // border-color: blue;
}
.home-pre-made-gum-btn1 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#FF8B2C;
  background-color: #420B3B;
  padding: 1em 1em 0.5em 1em;
  // padding-bottom: -1em;
  // margin: -1em;
  line-height: 0.5em;
  position: relative;
  top: 12.75em;
  left: 3.25em;
  border-radius: 2em;
  // max-width: 90%;
  // outline: 1px solid red;
}
.home-pre-made-gum-btn1 button:hover {
  background-color: #FFFCF5;
  color: #420B3B;
  cursor: pointer;
  // border: 0.001em;
  // border-style: solid;
  // border-color: blue;
}

.home-about-us-btn1 button {
  border: none;
  visibility: hidden;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#FF8B2C;
  background-color: #420B3B;
  padding: 0.75em 1em 0.25em 1em;
  line-height: 1em;
  position: relative;
  top: 3em;
  left: 5.5em;
  border-radius: 2em;
  // outline: 1px solid red;
}

.home-about-us-btn1 button:hover {
  background-color: #FFFCF5;
  color: #420B3B;
  cursor: pointer;
  // outline: 10px solid red;
}


.home-products-area-top {
  float: right;
  // max-width: 90%;
  // outline: 1px solid red;
}


.gum-images-row1 {
  display: flex;
  position: relative;
  top: -1.75em;
  right:2.5em;
  // outline: 1px solid red;
}

.banana-cherry-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  position: relative;
  left: 41.25em;
  top: 20em;
  // margin-left: 0em; //was 5.5
  // margin-right: 3em; //was 10.25
}
.peppermint-lemon-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  // margin-right: 3em;
  position: relative;
  left: 21.25em;
  top: 47em;
}
.raspberry-peppermint-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  // margin-right: -1.6em;
  // max-width: 90%;
  position: relative;
  left: 1.25em;
  top: 74em;
  // outline: 300px solid red;
}
.names-of-gum-row1 {
  display: flex;
  // max-width: 90%;
  // outline: 1px solid red;
}
.banana-cherry-label {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: 28.5em;
  top: 12em;
  // outline: 200px solid red;
}
.peppermint-lemon-label {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: 20em;
  top: 30em;
  // outline: 1000px solid red;
}
.raspberry-peppermint-label {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: 9.5em;
  top: 48em;
  // outline: 100px solid red;
}
.home-explore-btn1 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#FF8B2C;
  background-color: #420B3B;
  padding: 0.75em 1em 0.25em 1em;
  line-height: 1em;
  position: relative;
  top: 11.5em;
  left: 29.75em;
  border-radius: 2em;
  // outline: 100px solid red;
}
.home-explore-btn2 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#FF8B2C;
  background-color: #420B3B;
  padding: 0.75em 1em 0.25em 1em;
  line-height: 1em;
  position: relative;
  top: 27.5em;
  left: 29.75em;
  border-radius: 2em;
  // outline: 100px solid red;
}
.home-explore-btn3 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#FF8B2C;
  background-color: #420B3B;
  padding: 0.75em 1em 0.25em 1em;
  line-height: 1em;
  position: relative;
  top: 43.5em;
  left: 29.75em;
  border-radius: 2em;
  // outline: 100px solid red;
}

.home-bg {
  background-image: url('../../images/GumBoxes1.png');
  width:502px;
  height:419px;
  position:relative;
  top:0.5em;
  left: 0.8em;
  background-size: 67%;
  background-repeat: no-repeat;
  // height: 65vh;
  // outline: 1px solid red;
  z-index: -1;
}



.gum-images-row2 {
  display: flex;
  position: relative;
  top: -3.75em;
  // max-width: 90%;
  left:38.1em;
  // right:-20em;

  // outline: 1px solid red;
}
.cherry-lemon-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  // margin-right: 3em;
  position: relative;
  left: -36.75em;
  top: 93em;
  // outline: 1px solid red;
}
.banana-peppermint-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  // margin-right: 3em;
  position: relative;
  left: -56.75em;
  top: 120.25em;
  // outline: 100px solid red;
}
.peppermint-cherry-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  // margin-right: 1.6em;
  position: relative;
  left: -76.75em;
  top: 147.75em;
  // outline: 100px solid red;
}
.names-of-gum-row2 {
  display: flex;
  position: relative;
  top: -26em;
  left: -3.25em;
  // width: 10em;
  white-space: nowrap;
}
.cherry-lemon-label {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: 6em;
  top: 76.5em;
  // outline: 100px solid red;
}
.banana-peppermint-label {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: -2.25em;
  top: 94.5em;
  // outline: 200px solid red;
}
.peppermint-cherry-label {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: -1.75em;
  top: 84.5em;
  // outline: 100px solid red;
}




.home-explore-btn4 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#FF8B2C;
  background-color: #420B3B;
  padding: 0.75em 1em 0.25em 1em;
  line-height: 1em;
  position: relative;
  top: 58.75em;
  left: 5em;
  border-radius: 2em;
  // outline: 100px solid red;
}
.home-explore-btn5 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#FF8B2C;
  background-color: #420B3B;
  padding: 0.75em 1em 0.25em 1em;
  line-height: 1em;
  position: relative;
  top: 74.75em;
  left: 5em;
  border-radius: 2em;
  // outline: 100px solid red;
}
.home-explore-btn6 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#FF8B2C;
  background-color: #420B3B;
  padding: 0.75em 1em 0.25em 1em;
  line-height: 1em;
  position: relative;
  top: 60.5em;
  left: 5.25em;
  border-radius: 2em;
  // outline: 100px solid red;
}
.home-explore-btn1 button:hover {
  background-color: #FFFCF5;
  color: #420B3B;
  cursor: pointer;
}
.home-explore-btn2 button:hover {
  background-color: #FFFCF5;
  color: #420B3B;
  cursor: pointer;
}
.home-explore-btn3 button:hover {
  background-color: #FFFCF5;
  color: #420B3B;
  cursor: pointer;
}
.home-explore-btn4 button:hover {
  background-color: #FFFCF5;
  color: #420B3B;
  cursor: pointer;
}
.home-explore-btn5 button:hover {
  background-color: #FFFCF5;
  color: #420B3B;
  cursor: pointer;
}
.home-explore-btn6 button:hover {
  background-color: #FFFCF5;
  color: #420B3B;
  cursor: pointer;
}

.home-custom-made-btn-mobile button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#FFFCF5;
  background-color: #420B3B;
  padding: 1em 1em 0.5em 1em;
  // padding-bottom: -1em;
  // margin: -1em;
  line-height: 0.5em;
  position: relative;
  top: 60em;
  left: 0.4em;
  border-radius: 2em;
  // max-width: 90%;
  // outline: 1px solid red;
}
.home-custom-made-btn-mobile button:hover {
  background-color: #FFFCF5;
  color: #420B3B;
  cursor: pointer;
  // border: 0.001em;
  // border-style: solid;
  // border-color: blue;
}

@media screen and (min-width: 361px) {
  body {
    background-color: #FF8B2C;
    block-size:1920px 1080px;
  }
  
  .home-main-title-area {
    float: left;
  }
  .main-title {
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    color:#420B3B;
    position:relative;
    text-align: center;
    left: 0.5em;
    top: 0.5em;
    line-height: 1.5;
    // outline: 1px solid red;
  }
  
  .home-custom-made-btn1 button {
    border: none;
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    color:#FFFCF5;
    background-color: #420B3B;
    padding: 0.75em 1em 0.25em 1em;
    // padding-bottom: -1em;
    // margin: -1em;
    line-height: 0.5em;
    position: relative;
    top: 1.5em;
    left: 0.4em;
    border-radius: 2em;
    // max-width: 90%;
    // outline: 1px solid red;
  }
  .home-custom-made-btn1 button:hover {
    background-color: #FFFCF5;
    color: #420B3B;
    cursor: pointer;
    // border: 0.001em;
    // border-style: solid;
    // border-color: blue;
  }
  
  .home-about-us-btn1 button {
    border: none;
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#FF8B2C;
    background-color: #420B3B;
    padding: 0.75em 1em 0.25em 1em;
    line-height: 1em;
    position: relative;
    top: 3em;
    left: 5.5em;
    border-radius: 2em;
    // outline: 1px solid red;
  }
  
  .home-about-us-btn1 button:hover {
    background-color: #FFFCF5;
    color: #420B3B;
    cursor: pointer;
    // outline: 10px solid red;
  }
  
  
  .home-products-area-top {
    float: right;
    // max-width: 90%;
    // outline: 1px solid red;
  }
  
  
  .gum-images-row1 {
    display: flex;
    position: relative;
    top: 0.75em;
    right:2.5em;
    // outline: 1px solid red;
  }
  
  .banana-cherry-img {
    filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
    // margin-left: 0em; //was 5.5
    margin-right: 3em; //was 10.25
  }
  .peppermint-lemon-img {
    filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
    margin-right: 3em;
  }
  .raspberry-peppermint-img {
    filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
    margin-right: -1.6em;
    // max-width: 90%;
    // outline: 1px solid red;
  }
  .names-of-gum-row1 {
    display: flex;
    // max-width: 90%;
    // outline: 1px solid red;
  }
  .banana-cherry-label {
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#420B3B;
    position:relative;
    left: 0.25em;
    top:0em;
    // outline: 1px solid red;
  }
  .peppermint-lemon-label {
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#420B3B;
    position:relative;
    left: 5em;
    top: 0em;
    // outline: 1px solid red;
  }
  .raspberry-peppermint-label {
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#420B3B;
    position:relative;
    left: 7.75em;
    top: 0em;
    // outline: 1px solid red;
  }
  .home-explore-btn1 button {
    border: none;
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#FF8B2C;
    background-color: #420B3B;
    padding: 0.75em 1em 0.25em 1em;
    line-height: 1em;
    position: relative;
    top: -0.75em;
    left: 1.25em;
    border-radius: 2em;
  }
  .home-explore-btn2 button {
    border: none;
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#FF8B2C;
    background-color: #420B3B;
    padding: 0.75em 1em 0.25em 1em;
    line-height: 1em;
    position: relative;
    top: -2.75em;
    left: 14.75em;
    border-radius: 2em;
  }
  .home-explore-btn3 button {
    border: none;
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#FF8B2C;
    background-color: #420B3B;
    padding: 0.75em 1em 0.25em 1em;
    line-height: 1em;
    position: relative;
    top: -4.75em;
    left: 28em;
    border-radius: 2em;
  }
  
  .home-bg {
    background-image: url('../../images/GumBoxes2.png');
    width:502px;
    height:419px;
    position:relative;
    top:14.5em;
    left: 5em;
    background-size: 100%;
    background-repeat: no-repeat;
    // height: 65vh;
    // outline: 1px solid red;
    z-index: -1;
  }
  
  
  
  .gum-images-row2 {
    display: flex;
    position: relative;
    top: -3.75em;
    // max-width: 90%;
    left:38.1em;
    // right:-20em;
  
    // outline: 1px solid red;
  }
  .cherry-lemon-img {
    filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
    margin-right: 3em;
    // outline: 1px solid red;
  }
  .banana-peppermint-img {
    filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
    margin-right: 3em;
    // outline: 1px solid red;
  }
  .peppermint-cherry-img {
    filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
    margin-right: -1.6em;
    // outline: 1px solid red;
  }
  .names-of-gum-row2 {
    display: flex;
    position: relative;
    top: -26em;
    left: -3.25em;
  }
  .cherry-lemon-label {
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#420B3B;
    position:relative;
    left: 29.5em;
    top: 14.5em;
    // outline: 1px solid red;
  }
  .banana-peppermint-label {
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#420B3B;
    position:relative;
    left: 34.25em;
    top: 14.5em;
    // outline: 1px solid red;
  }
  .peppermint-cherry-label {
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#420B3B;
    position:relative;
    left: 37.75em;
    top: 14.5em;
    // outline: 1px solid red;
  }
  
  
  
  
  .home-explore-btn4 button {
    border: none;
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#FF8B2C;
    background-color: #420B3B;
    padding: 0.75em 1em 0.25em 1em;
    line-height: 1em;
    position: relative;
    top: -3.5em;
    left: 28.5em;
    border-radius: 2em;
  }
  .home-explore-btn5 button {
    border: none;
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#FF8B2C;
    background-color: #420B3B;
    padding: 0.75em 1em 0.25em 1em;
    line-height: 1em;
    position: relative;
    top: -5.5em;
    left: 42em;
    border-radius: 2em;
  }
  .home-explore-btn6 button {
    border: none;
    font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#FF8B2C;
    background-color: #420B3B;
    padding: 0.75em 1em 0.25em 1em;
    line-height: 1em;
    position: relative;
    top: -7.5em;
    left: 55.25em;
    border-radius: 2em;
  }
  .home-explore-btn1 button:hover {
    background-color: #FFFCF5;
    color: #420B3B;
    cursor: pointer;
  }
  .home-explore-btn2 button:hover {
    background-color: #FFFCF5;
    color: #420B3B;
    cursor: pointer;
  }
  .home-explore-btn3 button:hover {
    background-color: #FFFCF5;
    color: #420B3B;
    cursor: pointer;
  }
  .home-explore-btn4 button:hover {
    background-color: #FFFCF5;
    color: #420B3B;
    cursor: pointer;
  }
  .home-explore-btn5 button:hover {
    background-color: #FFFCF5;
    color: #420B3B;
    cursor: pointer;
  }
  .home-explore-btn6 button:hover {
    background-color: #FFFCF5;
    color: #420B3B;
    cursor: pointer;
  }
}