body {
  background-color: #FF8B2C;
  block-size:1920px 1080px;
}

.home-main-title-area {
  float: left;
}
.main-title {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  text-align: center;
  left: 1.25em; //this is causing page overflow
  top: 1em;
  outline: 1px solid red;
}

.home-custom-made-btn1 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  color:#FFFCF5;
  background-color: #420B3B;
  padding: 0.5em 1em 0em 1em;
  // padding-bottom: -1em;
  // margin: -1em;
  position: relative;
  top: 2em;
  left: 1.25em;
  border-radius: 2em;
  // max-width: 90%;
  // outline: 1px solid red;
}
.home-custom-made-btn1 button:hover {
  background-color: #FFFCF5;
  color: #420B3B;
  // border: 0.001em;
  // border-style: solid;
  // border-color: blue;
}

.home-about-us-btn1 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.6875em;
  font-weight: bold;
  color:#FF8B2C;
  background-color: #420B3B;
  padding: 0.5em 1em 0em 1em;
  position: relative;
  top: 3.7em;
  left: 6.5em;
  border-radius: 2em;
}

.home-about-us-btn1 button:hover {
  background-color: #FFFCF5;
  color: #420B3B;
}


.home-products-area-top {
  float: right;
  // max-width: 90%;
  outline: 1px solid red;
}


.gum-images-row1 {
  display: flex;
  position: absolute;
  top: 2em;
  right:2.5em;
}

.banana-cherry-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  margin-left: 0em; //was 5.5
  margin-right: 4em; //was 10.25
}
.peppermint-lemon-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  margin-right: 4em;
}
.raspberry-peppermint-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  margin-right: -1.6em;
  // max-width: 90%;
  outline: 1px solid red;
}
.names-of-gum-row1 {
  display: flex;
  // max-width: 90%;
  outline: 1px solid red;
}
.banana-cherry-label {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.6875em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: -11em; //this is causing page overflow
  top: 8.5em;
  outline: 1px solid red;
}
.peppermint-lemon-label {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: -5em; //this is causing page overflow
  top: 8.17em;
  outline: 1px solid red;
}
.raspberry-peppermint-label {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: -1.5em; //this is causing page overflow
  top: 8.17em;
  outline: 1px solid red;
}
.home-explore-btn1 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.6875em;
  font-weight: bold;
  color:#FF8B2C;
  background-color: #420B3B;
  padding: 0.5em 1em 0em 1em;
  position: relative;
  top: 8em;
  left: -10em;
  border-radius: 2em;
}
.home-explore-btn2 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.6875em;
  font-weight: bold;
  color:#FF8B2C;
  background-color: #420B3B;
  padding: 0.5em 1em 0em 1em;
  position: absolute;
  top: 18em;
  left: 13.5em;
  border-radius: 2em;
}
.home-explore-btn3 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.6875em;
  font-weight: bold;
  color:#FF8B2C;
  background-color: #420B3B;
  padding: 0.5em 1em 0em 1em;
  position: absolute;
  top: 18em;
  left: 25.75em;
  border-radius: 2em;
}



.gum-images-row2 {
  display: flex;
  position: absolute;
  top: 16.5em;
  max-width: 90%;
  left:1em;
  outline: 1px solid red;
}
.cherry-lemon-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  margin-right: 14.25em;
  outline: 1px solid red;
}
.banana-peppermint-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  margin-right: 14.25em;
  outline: 1px solid red;
}
.peppermint-cherry-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  // margin-right: 14.25em;
  outline: 1px solid red;
}
.names-of-gum-row2 {
  display: flex;
}
.cherry-lemon-label {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  color:purple;
  position:relative;
  left: 21.25em; //this is causing page overflow
  top: 2em;
  outline: 1px solid red;
}
.banana-peppermint-label {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  color:purple;
  position:relative;
  left: 28em; //this is causing page overflow
  top: 2em;
  outline: 1px solid red;
}
.peppermint-cherry-label {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  color:purple;
  position:relative;
  left: 28em; //this is causing page overflow
  top: 2em;
  outline: 1px solid red;
}



.add-to-cart-btn-container {
  height: 2em;
  position: relative;
  border: none;
  // max-width: 90%;
  outline: 1px solid red;
}
.add-to-cart-btn4 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color:#586336;
  background-color: #FEF27E;
  padding: 0.25em 1.5em;
  position: absolute;
  top: 8em;
  left: 38em;
  border-radius: 1em;
}
.add-to-cart-btn5 button {
  border: none;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color:#586336;
  background-color: #FEF27E;
  padding: 0.25em 1.5em;
  position: absolute;
  top: 8em;
  left: 50.25em;
  border-radius: 1em;
}
.add-to-cart-btn1 button:hover {
  background-color: #D5CB35;
  color: #6B4615;
}
.add-to-cart-btn2 button:hover {
  background-color: #D5CB35;
  color: #6B4615;
}
.add-to-cart-btn3 button:hover {
  background-color: #D5CB35;
  color: #6B4615;
}
.add-to-cart-btn4 button:hover {
  background-color: #D5CB35;
  color: #6B4615;
}
.add-to-cart-btn5 button:hover {
  background-color: #D5CB35;
  color: #6B4615;
}