.bgFooter {
  background-color: #420B3B;
  padding-bottom: 1em;
  // box-shadow: 0px 1px 15px black;
  // z-index: 1;
}


.logo-text1 {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-weight: ExtraBold;
  margin-left: 1em;
  // margin-bottom: -3em;
  position: relative;
  top:0.5em;
  font-size:2.25em;
  float: left;
}
.logo-text1:link {
  color: #FFFCF5;
}
.logo-text1:visited {
  color: #FFFCF5;
}
.logo-text1:hover {
  color: #FFFCF5;
}
.logo-text1:active {
  color: #FFFCF5;
}

.logo-text2 {
  // margin-left: 1em;
  // margin-bottom: -3em;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  position: relative;
  top:0.5em;
  font-size:2.25em;
}
.logo-text2:link {
  color: #FF8B2C;
}
.logo-text2:visited {
  color: #FF8B2C;
}
.logo-text2:hover {
  color: #FF8B2C;
}
.logo-text2:active {
  color: #FF8B2C;
}



.footer-links {
  display: flex;
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1em;
}
.footer-links, a:link, a:visited {
  text-decoration: none;
  font-weight: bold;
  color:Red;
}
.terms-link {
  position:absolute;
  right: 6.5em;
  bottom: 3em;
  margin-right: 3em;
}
.privacy-link {
  position:absolute;
  right: 0em;
  bottom: 3em;
  margin-right: 1em;
}
.copyright {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color:red;
  position:absolute;
  right: 0em;
  bottom: 1em;
  margin-right: 1em;
}